@inherits LayoutComponentBase
@using practica8.Components.propios;

<div class="page">

    <main>
        <div class="top-row px-4">
            <Layout/>
        </div>

        <article class="container">
            @Body
        </article>
    </main>
</div>
