@page "/acercade"
@rendermode InteractiveServer

<div class="text-center">
<h1>Informacion acusado</h1>
<h3>Nombre completo:Cristobal Garcia Lopez </h3>
<h3>Matricula: 2023-1634</h3>
<h2>Foto del acusado</h2>
<div>
<img class="img-fluid" src="imagen/selfi.jpg"  width="400px">

</div>
</div>