.calendar-container {
    max-width: 600px;
    margin: auto;
    text-align: center;
    background-color: #f0f0f0; 
    padding: 1rem;
    border-radius: 8px;
}

.calendar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.calendar-header, .calendar-week {
    display: flex;
}

.calendar-day-header, .calendar-day {
    flex: 1;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    background-color: #e0e0e0; 
    border: 1px solid black; 
}

.calendar-day {
    height: 80px;
    position: relative;
}

.calendar-day.empty-day {
    background-color: #d3d3d3; 
}

.day-number {
    font-weight: bold;
    color: black;
}

.day-count {
    background-color: #f8c52c;
    color: white;
    font-size: 0.8rem;
    padding: 0.3rem;
    border-radius: 50%;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}
